.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Stellt sicher, dass die gesamte Höhe des Bildschirms genutzt wird */
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.filter-toggle-button {
    padding: 5px 10px;
    background-color: goldenrod;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.filter-toggle-button:hover {
    background-color: darkgoldenrod;
}

.filter-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 35%;
}

.filter-right label {
    font-size: 14px;
}

.filter-right input[type="checkbox"] {
    margin-right: 10px;
}


.filter {
    display: flex;
    justify-content: space-between; /* Die Elemente links und rechts anordnen */
    align-items: flex-start;
    width: 100%;
    max-width: 600px;
    gap: 20px; /* Abstand zwischen den beiden Bereichen */
    margin-bottom: 20px;
}

.filter-left {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Abstand zwischen den Elementen */
    width: 60%; /* 60% für den linken Bereich */
}

.filter-right {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Abstand zwischen den Checkboxen */
    width: 35%; /* 35% für den rechten Bereich */
    margin-bottom: -10px;
}

.filter input[type="text"],
.filter select {
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
}

.filter label {
    font-size: 14px;
}

.filter input[type="checkbox"] {
    margin-right: 10px;
}



.car-box {
    width: 100%;
    max-width: 600px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.car-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

ul {
    list-style-type: none;
    padding: 0;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 500px;
    overflow-y: auto;
}

li {
    margin: 0;
    font-size: 15px;

}


.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
    min-height: 50px;
}

.pagination button {
    padding: 10px 20px;
    background-color: goldenrod;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pagination button:hover {
    background-color: darkgoldenrod;
}

.pagination button:disabled {
    background-color: #d6d6d6;
    cursor: not-allowed;
}

.pagination span {
    font-size: 16px;
    font-weight: 600;
}

/* Aktivierte Seite hervorheben */
.pagination button.active {
    background-color: darkgoldenrod;
}

.pagination button.active:hover {
    background-color: darkgoldenrod;
}


.button-85 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: goldenrod;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: background-color 0.3s ease;
}

.button-85:before {
    content: "";
    background: linear-gradient(
            45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border-radius: 10px;
    opacity: 0; /* Unsichtbar im Standardzustand */
    transition: opacity 0.3s ease-in-out;
}

.button-85:hover:before {
    opacity: 1; /* Sichtbar beim Hover */
    animation: glowing-button-85 20s linear infinite; /* Animation nur beim Hover aktiv */
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}



/* Modal Overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Modal Content */
.modal-content {
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
    animation: fadeIn 0.3s ease-out;
}

/* Close Button */
.close-button {
    padding: 10px 20px;
    background-color: crimson;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.close-button:hover {
    background-color: darkred;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.copy-button {
    padding-bottom: 7px;
    padding-right: 2px;
    padding-left: 2px;
    margin-left: 3px;
}



